@import url(https://fonts.googleapis.com/css?family=Hind);

body {
  font-family: "Hind";
}

:root {
  --primary_blue: #004777;
  --primary_teal: #38A3A5;
  --primary_green: #57CC99;
  --medium_green: #80ED99;
  --light_green: #C7F9CC;
}

.card {
  --bs-card-bg: var(--primary_green);
}
